<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>En example.com queremos que hagas amistades , <%= @user.name %></h1>
    <p>
      You have match with <%= @friend.email%>
    </p>
    
    <p>Thanks for use our app and have a great day!</p>
  </body>
</html>