<!--<h1>Welcome#home</h1>
<p>Find me in app/views/welcome/home.html.erb</p>-->


  	<div class="jumbotron">
  		<h1>Elige aquellos amig@s que te gustan de forma anonima, te avisaremos si ambos coinciden, el resto va por tu cuenta.</h1>
		<%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-lg" %>
		<%= link_to "Registrarse", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	</div>
